-r requirements.txt
bandit==1.7.0
better_exceptions==0.3.3
black==21.6b0
coveralls==2.2.0
flake8==3.9.2
hypothesis==6.46.1
isort==5.9.3
pre-commit==2.13.0
pytest-cov==2.12.1
pytest==6.2.4
setuptools==57.4.0
twine==3.4.2
wheel==0.36.2
