-r requirements.txt
bandit==1.6.2
better_exceptions==0.2.2
black==19.10b0
coveralls==2.0.0
flake8==3.8.3
hypothesis==5.16.1
isort==4.3.21
pre-commit==2.5.1
pytest-cov==2.9.0
pytest==5.4.3
setuptools==47.1.1
twine==3.1.1
wheel==0.34.2
