-r requirements.txt
bandit==1.6.2
better_exceptions==0.2.2
black==19.10b0
coveralls==2.1.1
flake8==3.8.3
hypothesis==5.24.3
isort==5.1.1
pre-commit==2.6.0
pytest-cov==2.10.0
pytest==5.4.3
setuptools==49.2.0
twine==3.2.0
wheel==0.34.2
